<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <div>
      <h1>{{title_application}}</h1>
    </div>
    <div>
        <nav>
          <ul>
            <li><a href="#">Tournois</a></li>
            <li><a href="{% url 'blog:index' %}">Blog</a></li>
            <li><a href="#">Profil</a></li>
            <li><a href="/admin">Admin</a></li>
          </ul>
          {%if user.is_authenticated %}
            <p>Bonjour {{user.username}} !</p>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Log Out</button>
            </form>
          {% else %}
            <p>vous n'êtes pas connecté </p>
            <a href="{% url 'login' %}">Log In </a>
          {% endif %}
        </nav>
    </div>
    
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div>
      <p>Copyright</p>
      <p>RGPD</p>
    </div>
  </footer>
  
</body>
</html>